<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
	<meta name="description" content=""/>

	<title>hydra newmedia</title>

    <link rel="stylesheet" href="main.min.css">

    <script src="js/libs/modernizr/modernizr.js"></script>
    <script src="js/libs/jquery/dist/jquery.min.js"></script>
    <script src="js/libs/handlebars/handlebars.min.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/main.min.js"></script>

</head>
<body>

    <div id='main'></div>

</body>
</html>
